// Small tablets and large smartphones (landscape view)
$screen-sm-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1242px;

@mixin phone {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Large devices
@mixin screen {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin largeScreen {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}
